@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";


/* Google font -> Open Sans */
body {
  font-family: 'Open Sans', sans-serif;
}
